/* You can add global styles to this file, and also import other style files */
button {
  display: block;
  margin: 16px 0;
}
.highlight {
  background-color: yellow;
}

.popup {
  position: fixed;
  inset: 100px;
  background: grey;
}
.popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
}
